<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <script defer
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script defer src="/scripts/app.js"></script>
  <!-- <script defer src="/scripts/jeremy.js"></script> -->
  <script defer src="/scripts/newMeme.js"></script>
    <title>IME</title>
</head>
<body>
  <nav class="navbar fixed-top p-0 shadow">
    <button id="toggleSidebar">
        <span class="navbar-toggler-icon">&#9776;</span>
    </button>
    <a class="navbar-brand" href="/">Illegal Meme Exchange</a>
  </nav>


    <!-- Sidebar -->
    <div class="container-fluid">
      <div class="row">
          <nav id="sidebarNav" class="col-2 d-none bg-light sidebar">
              <div class="sidebar-sticky col-2">
                  <ul class="nav flex-column">
                      <li class="nav-item">
                          <a class="nav-link active newMemeLink" href='#'>Post a New Meme</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link myMemes" href="#">My Memes</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link logout" href="#">Log Out</a>
                      </li>
                  </ul>
              </div>
          </nav>
 
          <main id="mainDiv" role="main" class="container new-meme-form">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="welcomeMsg">New Meme</h1>
            </div>
            <form id="newMeme">
              <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control form-control-lg" type="text" id="title" name="title" placeholder="Title your meme"/>
              </div>
              <div class="form-group">
                <label for="link">Image Link</label>
                <input class="form-control form-control-lg" type="link" id="link" name="link" placeholder="Left click the image and select 'copy image address', then paste it here"/>
              </div>
              <div class="form-group">
                <label for="tags">Tags</label>
                <input class="form-control form-control-lg" type="text" id="tags" name="tags" placeholder="Tag your image! Tags are broken up by a space"/>
              </div>
              <input type="submit" class="btn btn-primary" value="Post a Meme!" />
            </form>
        </main>
    </div>
</div>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>