body {
    background-color: #ececec;
}


/* Navbar Styling */
.container-fluid {
    padding: 0;
}
.navbar {
    height: 10vh;
    background-color: #4da2d5;
}

.navbar-brand {
    color: #000000;
    font-family: 'Volkhov', serif;
    font-size: 26px;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav li{
    margin-left: 5px;
}

.nav-link {
    padding-left: 2em;
}

/* Sidebar */
.sidebar {
    /* height: 100vh; */
    padding-right:0;
    height: 100%;
    position: fixed;

}

.sidebar-sticky ul:first-child {
    margin-top: 10vh;
}

.nav-item:hover {
    background-color: #aaaaaa;
    /* text-decoration: solid underline;
    font-weight: 800; */
}

/* Main Section */
.welcomeMsg {
    margin-top: 10vh;
}

/* Card Styling */
.cardSection {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    align-items: center;
    width: 60vw;
    margin-bottom: 20px;
}

.card-header {
    padding: 5px 12px;
}
.memeTitle {
    font-size: 20px;
}

.card-body {
    padding: 10px;
}

.memeImg {
    max-width: 100%;
}

.btn-primary {
    background-color: #555555;
    border: none;
}


/* Sidebar css */
.wrapper {
    align-items: stretch;
}