body {
    background-color: #ececec;
}


/* Navbar Styling */
.container-fluid {
    padding: 0;
}
.navbar {
    height: 10vh;
    background-color: #4da2d5;
}

.navbar-brand {
    color: #000000;
    font-family: 'Volkhov', serif;
    font-size: 26px;
    display: inline;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav li{
    margin-left: 5px;
}

.nav-link {
    padding-left: 2em;
}

/* Sidebar */
.sidebar {
    position: relative;
    padding-right:0;
    z-index: 10;
    top: 0;
    bottom: 0;
}

.sidebar-sticky {
    position: fixed;
    top: 100px;
}

.nav-item:hover {
    background-color: #aaaaaa;
}

#toggleSidebar {
    /* color: #000; */
    /* background-color: #aaa; */
    margin-left: 20px;
}

.navbar-toggler-icon {
    color: #000;
}

/* Main Section */
.welcomeMsg {
    margin-top: 10vh;
}



/* Card Styling */
.cardSection {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    align-items: center;
    width: 60vw;
    margin-bottom: 20px;
}

.card-header {
    padding: 5px 12px;
}
.memeTitle {
    font-size: 20px;
}

.card-body {
    padding: 10px;
}

.memeImg {
    max-width: 100%;
}

.btn-primary {
    background-color: #555555;
    border: none;
}


/* Infinite scrolling */
#infinite-list {
    /* We need to limit the height and show a scrollbar */
    /* width: 200px;
    height: 300px; */
    overflow: auto;
  
    /* Optional, only to check that it works with margin/padding */
    margin: 30px;
    padding: 20px;
    border: 10px solid black;
  }

/* Meme Form Styling */

.new-meme-form{
    margin-top: 10vh;
}
